Concurrency/VersioningClient/Service References/MessageService/MessageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestVersioning.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestVersioning.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimplifiedMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimplifiedMessage" nillable="true" type="tns:SimplifiedMessage" />
</xs:schema>