Concurrency/VersioningClient/Service References/MessageService/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1647/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestVersioning.Models" />
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestVersioning.Models" minOccurs="0" name="GetMessageResult" nillable="true" type="q1:SimplifiedMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestVersioning.Models" minOccurs="0" name="message" nillable="true" type="q2:SimplifiedMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestVersioning.Models" minOccurs="0" name="UpdateMessageResult" nillable="true" type="q3:SimplifiedMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>